{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title> Central | Cadastro </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link href="{% static "css/estilo.css" %}" rel="stylesheet">
</head>
<body>

  <main class="login">
    <div class="login_container">
      <h1 class="login_title">  Cadastro  </h1>
      <form action="" class="login_form">
        <input type="email" class="login_input" placeholder="Email" name="email">
        <span class="login_input-border"></span>

        <input type="text" class="login_input" placeholder="Username" name="username">
        <span class="login_input-border"></span>

        <input type="number" class="login_input" placeholder="Telefone" name="telefone">
        <span class="login_input-border"></span>
        
        <input type="password" class="login_input" placeholder="Senha" name="senha">
        <span class="login_input-border"></span>

        <input type="password" class="login_input" placeholder="Confirmar senha" name="confirmar_senha">
        <span class="login_input-border"></span>

        <button class="login_submit"> Cadastrar </button>
        <a href="{% url 'home' %}" class="login_reset"> Tens a conta ? Login ! </a>
      </form>
    </div>
  </main>
  

</body>

<script defer src="{% static "js/script.js" %}"></script>

</html>