{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title> Central | Login </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link href="{% static "css/estilo.css" %}" rel="stylesheet">
</head>
<body>


  
  <main class="login">
    <div class="login_container">
      <h1 class="login_title">  Central    </h1>
      <form action="/login/" class="login_form" method="POST">
        {% csrf_token %}  
        <input type="text" class="login_input" placeholder="Email" name="email" id="email">
        <span class="login_input-border"></span>
        <input type="password" class="login_input" placeholder="Senha" name="senha" id="senha">
        <span class="login_input-border"></span>

        <button type="submit" class="login_submit"> Login </button>
        <a href="#" class="login_reset"> Esqueceu a senha ?!? </a> 
        <a href="{% url 'cadastro' %}" class="login_reset criar"> Criar Conta </a>
      </form>
    </div>
  </main>
  

</body>

<script defer src="{% static "js/script.js" %}"></script>

</html>